.text {
	text-align: justify;
}

#content {
	margin-top: 109px;
}

@media only screen and (max-width: 900px) {
	#content {
		margin-top: 159px;
	}
}

@media only screen and (max-width: 1050px) {
	.grid {
		grid-template-columns: 100%;
	}
}

@media only screen and (max-width: 900px) {
	.text {
		text-align: left;
	}
	.priority-3 {
		display: none;
	}
}