td {
	font-family: linotype-sabon, sandoll-jebi2;
	font-size: 10pt;
	font-weight: 500;
}

.description {
	font-family: linotype-sabon, sandoll-jebi2;
	color: grey;
	font-size: 9pt;
	font-weight: 500;
	padding-right: 15px;
}

details > summary::-webkit-details-marker {
	display: none;
}

.priority-1, priority-2 {
	padding-right: 15px;
}

.priority-1:hover {
	cursor: pointer;
}

#table {
	margin-top: 109px;
}

@media only screen and (max-width: 900px) {
	#table {
		margin-top: 109px;
	}
}

@media only screen and (max-width: 1150px) and (min-width: 800px) {
		.priority-3 {
			display: none;
	}
}

@media only screen and (max-width: 800px) {
		.priority-3, .priority-2 {
			display: none;
	}
}