.project-header {
  	margin-top: 109px;
  	padding-left: 30px;
  	padding-right: 15px;
  	box-sizing: border-box;
}

.project-title {
	margin-top: -0px;
	margin-bottom: -15px;
	text-align: left;
	font-family: "CMU Bright Roman", sans-serif;
	font-weight: 400;
	font-size: 10pt;
}

.project-body {
	margin-top: -20px;
	padding-right: 15px;
}

.project-image {
  	width: 100%;
  	height: auto; /* Set height to auto to maintain aspect ratio */
  	max-width: 100%; /* Ensure images don't exceed their original width */
  	display: block; /* Remove any inline spacing */
  	padding-bottom: 15px;
}

.project-details {
	padding-right: 0px;
}

.project-details-mobile {
	padding-left: 30px;
  	padding-right: 15px;
  	box-sizing: border-box;
	display: none;
}

.description {
	/* column-count: 2;
	column-gap: 30px; */
	text-align: justify;
	margin-right: 15px;
}

.subheading {
	text-align: left;
	font-family: "CMU Bright Roman", sans-serif;
	font-weight: 300;
	font-size: 10pt;}

#main-subheading {
	margin-top: 20px;
}

#sub-subheading {
	margin-top: -7px;
}

#project-subheading {
	margin-top: 50px;
	margin-bottom: -5px;
	font-family: "CMU Bright Roman", sans-serif;
	font-weight: 300;
	font-size: 10pt;
}

.related-project {
	margin-bottom: 5px; 
	cursor: pointer;
}

.related-project:hover {
	text-decoration: underline;
}

@media only screen and (min-width: 1000px) {
	.project-header {
		margin-top: 0px;
		position: fixed;
		top: 109px; /* Adjust the top position as needed */
		left: 0;
		width: 50%; /* Adjust the width as needed */
		background-color: #ffffff;
		z-index: 1; /* Ensure the fixed item is on top of other content */
	}
	.project-body {
  		margin-top: 109px;
  		margin-left: 50%; /* Adjust the margin-left to align the content to the right */
  		width: 50%; /* Adjust the width as needed */
  		box-sizing: border-box;
	}
}

@media only screen and (max-width: 1000px) {
	.project-details {
		display: none;
	}
	.project-details-mobile {
		display: block;
	}
	.project-body {
		margin-top: 25px;
		padding-right: 0px;
		margin-right: 15px;
		margin-left: 15px;
	}
	.project-image {
		padding-bottom: 0px;
		margin-bottom: 15px;
	}
}

@media only screen and (max-width: 900px) {
	.description {
		text-align: left;
	}
	.project-header {
		margin-top: 109px;
	}
	.project-body {
		margin-top: 25px;
		padding-right: 0px;
	}
	.project-image {
		padding-bottom: 0px;
	}
}